#canva
{
	width: 400px;
	height: 200px;
	margin: 40px;
	border:solid 3px black;
	background:url(setka.png);
}

#canva2
{
	width: 600px;
	height: 600px;
	margin: 40px;
	border:solid 3px black;
	
}